.previewBox {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    margin: 25px;
    display: inline-block;
    padding: 15px;
    padding-top: 0px;
}

.previewBox h2 {
    margin: 5px;
    text-align: center;
}

.comment {
    border: 1px;
    border-style: solid;
    border-color: darkblue;
    background-color: aqua;
    margin: 15px;
    display: inline-block;
    max-width: 100%;
    padding: 15px;
    border-radius: 15px;
}